In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [8]:
# read in
file = "Resources/dcad_combined-Copy1.csv"
df = pd.read_csv(file, usecols=['PROPERTY_ZIPCODE', 'TOT_VAL'])

df.head(3)

   PROPERTY_ZIPCODE  TOT_VAL
0         750513060   103500
1         750513040   145500
2         750502208   168040

In [9]:
# Use Map to format all the columns :add $
pd.options.display.float_format = '${:,.2f}'.format
#df=pd.DataFrame(df)
df["TOTAL_VALUE"] = df["TOT_VAL"].map("${:.0f}".format)
#keep only 5 digit of zipcode
df['ZIPCODE'] = df['PROPERTY_ZIPCODE'].astype(str).str[:5]

df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL TOTAL_VALUE ZIPCODE
0         750513060   103500     $103500   75051
1         750513040   145500     $145500   75051
2         750502208   168040     $168040   75050
3         750502277   200040     $200040   75050
4         750617840   151880     $151880   75061

In [19]:
zip_group = df.groupby('ZIPCODE')['TOT_VAL']

zip_group = zip_group.mean().to_frame('TOT_VAL')

zip_group.sort_values(by='TOT_VAL', ascending=False, inplace=True)

zip_group_highest_val = zip_group.head(5)
zip_group_lowest_val = zip_group.tail(5)

In [22]:
zip_group_highest_val

              TOT_VAL
ZIPCODE
75205   $1,606,361.79
75225   $1,207,824.16
75201     $966,758.03
75209     $723,055.19
75230     $704,637.79

In [15]:
zip_group_lowest_val

ZIPCODE
75215   $53,040.15
76065   $44,860.00
75125   $42,103.22
75247   $35,345.00
75210   $33,010.14
Name: TOT_VAL, dtype: float64

In [ ]:

total_unique_records=df['ACCOUNT_NUM'].nunique()
#number_of_unique
average_house_value=round(df['TOTAL_VALUE'].mean(),2)
#average_price
#agg_value=df['TOTAL_VALUE'].sum()

#summery=pd.DataFrame({'total unique records':[total_unique_records],'average_house_value':[average_house_value],\'agg_value':[agg_value]})
#summery

In [ ]:
# Purchase Count
zipcount =df.groupby("ZIPCODE")["ACCOUNT_NUM"].count().to_frame(" number by zipcode")

zipcount=zipcount.sort_values(by='number by zipcode', ascending=False)
zipcount.head(10)
# Total Rev by gender
#genderT= purchase.groupby("Gender")["Price"].sum().to_frame("Total Rev amount")

#Players = purchase.groupby("Gender")["SN"].count().to_frame("Count of players")

# merge players with total rev by gender
#merge= genderT.merge(Players, left_index=True, right_index=True)
#add per person rev to the dataframe
#merge["Per person rev"] = round(merge["Total Rev amount"]/merge["Count of players"],2)