In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json

# API Keys
from config import gkey
from config import api_key

In [3]:
#Google Places Types: https://developers.google.com/places/web-service/supported_types

#TODO: Can we incorporate this list into the loop so this list can change without changing the code
types = ['bank']#, 'library', 'park', 'liquor_store', 'hospital']

In [4]:
# Read in the Dallas County Appraisal District (DCAD) property values file

file = "Resources/dcad_combined-Copy1.csv"

#create DataFrame
dcad_df = pd.read_csv(file, usecols=['PROPERTY_ZIPCODE', 'TOT_VAL'])
dcad_df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL
0         750513060   103500
1         750513040   145500
2         750502208   168040
3         750502277   200040
4         750617840   151880

In [5]:
#add column for 5 digit zipcode
dcad_df['ZIPCODE'] = dcad_df['PROPERTY_ZIPCODE'].astype(str).str[:5]

In [6]:
#Group Property Values by Zipcode
zip_group = dcad_df.groupby('ZIPCODE')['TOT_VAL']

In [8]:
zip_group_df = dcad_df.groupby('ZIPCODE')['TOT_VAL'].agg(('count', 'mean')).rename(columns={'count':'PropertyValueCount', 'mean':'MeanPropertyValue'}).sort_values(by='MeanPropertyValue', ascending=False).reset_index()

In [10]:
#Add columns to DataFrame to store business data
zip_group_df["MeanPropertyDollarValue"] = zip_group_df["MeanPropertyValue"].map("${:,.0f}".format)
zip_group_df['Lat'] = "" 
zip_group_df["Lng"] = ""
zip_group_df["City"] = ""
zip_group_df["State"] = ""
zip_group_df = zip_group_df.rename(columns={"ZIPCODE": "Zipcode"})

In [14]:
#Preview 5 Zipcodes with highest values
zip_group_test_df = zip_group_df.head(5)

In [15]:
#Get 5 Zipcodes with lowest values
zip_group_df.tail(5)

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
86,75215,4430,53040.148984,"$53,040",,,,
87,76065,1,44860.000000,"$44,860",,,,
88,75125,121,42103.223140,"$42,103",,,,
89,75247,6,35345.000000,"$35,345",,,,
90,75210,1681,33010.142772,"$33,010",,,,

In [16]:
# create a params dict that will be updated with new zipcode each iteration
params = {"key": gkey}

# Loop through the zipcode pd's and run a lat/long search for each
for index, row in zip_group_test_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['Zipcode']

    # update address key value to zipcode
    params['address'] = zipcode

    # make request
    zips_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    zips_lat_lng = zips_lat_lng.json()
    #print(json.dumps(zips_lat_lng, indent=4, sort_keys=True))
    
    #loop through address to find city
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'locality':
            zip_group_df.loc[index, "City"] = i['long_name']
    
    #loop though address to find state
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'administrative_area_level_1':
            zip_group_df.loc[index, "State"] = i['short_name']
    zip_group_df.loc[index, "Lat"] = zips_lat_lng["results"][0]["geometry"]["location"]["lat"]
    zip_group_df.loc[index, "Lng"] = zips_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
zip_group_df

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX
5,75252,262,6.376967e+05,"$637,697",,,,
6,75229,9031,6.056789e+05,"$605,679",,,,
7,75220,5735,6.025323e+05,"$602,532",,,,
8,75214,10429,5.574637e+05,"$557,464",,,,
9,75039,2333,4.344581e+05,"$434,458",,,,
10,75019,11346,4.157977e+05,"$415,798",,,,
11,75244,3272,4.118858e+05,"$411,886",,,,
12,75248,10904,3.982486e+05,"$398,249",,,,
13,75182,2154,3.930622e+05,"$393,062",,,,
14,75206,7188,3.896058e+05,"$389,606",,,,
15,75238,6772,3.811881e+05,"$381,188",,,,
16,75219,8072,3.787560e+05,"$378,756",,,,
17,75063,7748,3.711891e+05,"$371,189",,,,
18,75038,2985,3.584369e+05,"$358,437",,,,
19,75218,7906,3.564176e+05,"$356,418",,,,
20,75254,3376,3.465426e+05,"$346,543",,,,
21,75204,4781,3.447888e+05,"$344,789",,,,
22,75001,1989,3.152085e+05,"$315,208",,,,
23,75240,2858,3.082931e+05,"$308,293",,,,
24,75082,784,3.050104e+05,"$305,010",,,,
25,75080,10636,2.766037e+05,"$276,604",,,,
26,75208,7078,2.725775e+05,"$272,577",,,,
27,75287,9,2.688500e+05,"$268,850",,,,
28,75048,5205,2.622231e+05,"$262,223",,,,
29,75207,3,2.612233e+05,"$261,223",,,,
...,...,...,...,...,...,...,...,...
61,75146,6212,1.443953e+05,"$144,395",,,,
62,75116,5238,1.426689e+05,"$142,669",,,,
63,75150,13463,1.423525e+05,"$142,352",,,,
64,75060,10620,1.421423e+05,"$142,142",,,,
65,75223,3317,1.400963e+05,"$140,096",,,,
66,75041,7639,1.399951e+05,"$139,995",,,,
67,75134,5838,1.346555e+05,"$134,656",,,,
68,75149,15947,1.312740e+05,"$131,274",,,,
69,75237,1359,1.280276e+05,"$128,028",,,,
70,75224,7082,1.263187e+05,"$126,319",,,,
71,75227,12542,1.238300e+05,"$123,830",,,,
72,75050,6239,1.224220e+05,"$122,422",,,,
73,75051,7789,1.181308e+05,"$118,131",,,,
74,75232,8653,1.137634e+05,"$113,763",,,,
75,75159,4357,1.135519e+05,"$113,552",,,,
76,75211,13380,1.079941e+05,"$107,994",,,,
77,75253,3232,1.057382e+05,"$105,738",,,,
78,75180,5759,1.047654e+05,"$104,765",,,,
79,75241,8833,9.017196e+04,"$90,172",,,,
80,75141,833,8.490941e+04,"$84,909",,,,
81,75212,5974,8.415152e+04,"$84,152",,,,
82,75217,19317,8.055630e+04,"$80,556",,,,
83,75203,2802,7.551809e+04,"$75,518",,,,
84,75172,881,6.372479e+04,"$63,725",,,,
85,75216,14850,5.710002e+04,"$57,100",,,,
86,75215,4430,5.304015e+04,"$53,040",,,,
87,76065,1,4.486000e+04,"$44,860",,,,
88,75125,121,4.210322e+04,"$42,103",,,,
89,75247,6,3.534500e+04,"$35,345",,,,
90,75210,1681,3.301014e+04,"$33,010",,,,

In [17]:
# params dictionary to update each iteration
for each_type in types:
    params = {
        #3 mi radius. A Zipcode is not returned in the results, so we cannot 
        #match against our zipcode without doing a reverse lookup for every result
        "radius": 4828,
        "types": each_type,
        "keyword": "bank",
        "key": gkey
    }
    
    #variables for the specific column names for the business type we are searching
    count_column = f"{each_type}_count"
    rating_column = f"{each_type}_rating"
    
    #add columns for each type we looking up
    zip_group_df[count_column] = ""
    zip_group_df[rating_column] = ""


    # Use the lat/lng we recovered to search for businesses
    for index, row in zip_group_test_df.iterrows():

        rating_sum = 0
        rating_count = 0

        # get lat, lng from df
        lat = row["Lat"]
        lng = row["Lng"]

        # change location each iteration while leaving original params in place
        #params["location"] = f"32.8326,-96.7976" #testing 1 lat, lng
        params["location"] = f"{lat},{lng}"

        #Google Places Search
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # make request and print url
        search_results = requests.get(base_url, params=params)

        # convert to json
        search_results = search_results.json()
        #print(json.dumps(search_results, indent=4, sort_keys=True))

        results_list = search_results['results']

        #Set the business count
        zip_group_df.loc[index, count_column] = len(results_list)

        #Loop through results list to get rating for each 
        for each_result in results_list:
            #check for KeyError since not all business have a rating
            try:
                #print(f'{each_result["name"]}: {each_result["rating"]}')
                rating = each_result["rating"]
                rating_count += 1
                rating_sum += rating
            except(KeyError):
                next
        #Set Rating to 0 if there are not businesses returned
        try:
            zip_group_df.loc[index, rating_column] = rating_sum / rating_count
        except(ZeroDivisionError):
            zip_group_df.loc[index, rating_column] = 0
            
        detail_df = pd.DataFrame.from_dict(results_list, orient='columns')

In [19]:
zip_group_df.sort_values('MeanPropertyValue')

,Zipcode,PropertyValueCount,MeanPropertyValue,MeanPropertyDollarValue,Lat,Lng,City,State,bank_count,bank_rating
90,75210,1681,3.301014e+04,"$33,010",,,,,,
89,75247,6,3.534500e+04,"$35,345",,,,,,
88,75125,121,4.210322e+04,"$42,103",,,,,,
87,76065,1,4.486000e+04,"$44,860",,,,,,
86,75215,4430,5.304015e+04,"$53,040",,,,,,
85,75216,14850,5.710002e+04,"$57,100",,,,,,
84,75172,881,6.372479e+04,"$63,725",,,,,,
83,75203,2802,7.551809e+04,"$75,518",,,,,,
82,75217,19317,8.055630e+04,"$80,556",,,,,,
81,75212,5974,8.415152e+04,"$84,152",,,,,,
80,75141,833,8.490941e+04,"$84,909",,,,,,
79,75241,8833,9.017196e+04,"$90,172",,,,,,
78,75180,5759,1.047654e+05,"$104,765",,,,,,
77,75253,3232,1.057382e+05,"$105,738",,,,,,
76,75211,13380,1.079941e+05,"$107,994",,,,,,
75,75159,4357,1.135519e+05,"$113,552",,,,,,
74,75232,8653,1.137634e+05,"$113,763",,,,,,
73,75051,7789,1.181308e+05,"$118,131",,,,,,
72,75050,6239,1.224220e+05,"$122,422",,,,,,
71,75227,12542,1.238300e+05,"$123,830",,,,,,
70,75224,7082,1.263187e+05,"$126,319",,,,,,
69,75237,1359,1.280276e+05,"$128,028",,,,,,
68,75149,15947,1.312740e+05,"$131,274",,,,,,
67,75134,5838,1.346555e+05,"$134,656",,,,,,
66,75041,7639,1.399951e+05,"$139,995",,,,,,
65,75223,3317,1.400963e+05,"$140,096",,,,,,
64,75060,10620,1.421423e+05,"$142,142",,,,,,
63,75150,13463,1.423525e+05,"$142,352",,,,,,
62,75116,5238,1.426689e+05,"$142,669",,,,,,
61,75146,6212,1.443953e+05,"$144,395",,,,,,
...,...,...,...,...,...,...,...,...,...,...
29,75207,3,2.612233e+05,"$261,223",,,,,,
28,75048,5205,2.622231e+05,"$262,223",,,,,,
27,75287,9,2.688500e+05,"$268,850",,,,,,
26,75208,7078,2.725775e+05,"$272,577",,,,,,
25,75080,10636,2.766037e+05,"$276,604",,,,,,
24,75082,784,3.050104e+05,"$305,010",,,,,,
23,75240,2858,3.082931e+05,"$308,293",,,,,,
22,75001,1989,3.152085e+05,"$315,208",,,,,,
21,75204,4781,3.447888e+05,"$344,789",,,,,,
20,75254,3376,3.465426e+05,"$346,543",,,,,,
19,75218,7906,3.564176e+05,"$356,418",,,,,,
18,75038,2985,3.584369e+05,"$358,437",,,,,,
17,75063,7748,3.711891e+05,"$371,189",,,,,,
16,75219,8072,3.787560e+05,"$378,756",,,,,,
15,75238,6772,3.811881e+05,"$381,188",,,,,,
14,75206,7188,3.896058e+05,"$389,606",,,,,,
13,75182,2154,3.930622e+05,"$393,062",,,,,,
12,75248,10904,3.982486e+05,"$398,249",,,,,,
11,75244,3272,4.118858e+05,"$411,886",,,,,,
10,75019,11346,4.157977e+05,"$415,798",,,,,,
9,75039,2333,4.344581e+05,"$434,458",,,,,,
8,75214,10429,5.574637e+05,"$557,464",,,,,,
7,75220,5735,6.025323e+05,"$602,532",,,,,,
6,75229,9031,6.056789e+05,"$605,679",,,,,,
5,75252,262,6.376967e+05,"$637,697",,,,,,
4,75230,9337,7.046378e+05,"$704,638",32.9005,-96.7869,Dallas,TX,20,3.3
3,75209,5424,7.230552e+05,"$723,055",32.8539,-96.819,Dallas,TX,20,3.26
2,75201,1326,9.667580e+05,"$966,758",32.7863,-96.7963,Dallas,TX,20,2.755
1,75225,7633,1.207824e+06,"$1,207,824",32.8695,-96.7896,Dallas,TX,20,3.175
0,75205,6415,1.606362e+06,"$1,606,362",32.8326,-96.7976,Dallas,TX,20,3.36

In [20]:
detail_df

,geometry,icon,id,name,opening_hours,photos,place_id,plus_code,rating,reference,scope,types,user_ratings_total,vicinity
0,"{'location': {'lat': 32.8650461, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,0834f77965c9e295b32ade151e29a8430b4ff828,Regions Bank,{'open_now': False},"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJ7Xc2b0SeToYRBmcXaKud3EE,"{'compound_code': 'V58R+26 Dallas, Texas', 'gl...",2.4,ChIJ7Xc2b0SeToYRBmcXaKud3EE,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",14,"5858 W Northwest Hwy, Dallas"
1,"{'location': {'lat': 32.8620137, 'lng': -96.75...",https://maps.gstatic.com/mapfiles/place_api/ic...,88476b0ae38c9d9bd7acc293b4a5bc25da28af93,Capital One Bank,{'open_now': False},"[{'height': 450, 'html_attributions': ['<a hre...",ChIJywlpE4afToYR8eNbj5oAlyI,"{'compound_code': 'V66V+RH Dallas, Texas', 'gl...",2.4,ChIJywlpE4afToYR8eNbj5oAlyI,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",18,"6161 Retail Rd, Dallas"
2,"{'location': {'lat': 32.8645845, 'lng': -96.81...",https://maps.gstatic.com/mapfiles/place_api/ic...,67faa33c6a0dc71142a742f986d68f56d3732581,Simmons Bank,{'open_now': False},"[{'height': 300, 'html_attributions': ['<a hre...",ChIJCdcGQZifToYR6FXWBVD0sgE,"{'compound_code': 'V57Q+RP Dallas, Texas', 'gl...",3.8,ChIJCdcGQZifToYR6FXWBVD0sgE,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",4,"5950 Berkshire Ln, Dallas"
3,"{'location': {'lat': 32.883666, 'lng': -96.762...",https://maps.gstatic.com/mapfiles/place_api/ic...,218b56f5aa51f0aeb35c1b3faf8c8304a6b66660,Bank of Texas,{'open_now': False},"[{'height': 250, 'html_attributions': ['<a hre...",ChIJMQWIdu-fToYRoQoCSQcauBs,"{'compound_code': 'V6MP+FV Dallas, Texas', 'gl...",4.7,ChIJMQWIdu-fToYRoQoCSQcauBs,GOOGLE,"[bank, finance, point_of_interest, establishment]",22,"8277 Walnut Hill Ln, Dallas"
4,"{'location': {'lat': 32.86503500000001, 'lng':...",https://maps.gstatic.com/mapfiles/place_api/ic...,bc5a8270b9b51809a5ecbd0e5a597e3436296f9f,Bank of Texas,{'open_now': False},"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJW3_ih7ufToYRCzDxAXntmi4,"{'compound_code': 'V68F+2J Dallas, Texas', 'gl...",3.9,ChIJW3_ih7ufToYRCzDxAXntmi4,GOOGLE,"[bank, finance, point_of_interest, establishment]",10,"7600 W Northwest Hwy, Dallas"
5,"{'location': {'lat': 32.9121102, 'lng': -96.73...",https://maps.gstatic.com/mapfiles/place_api/ic...,6d9305e04fc169d134b2e38747d640c4ce4d65c3,Prosperity Bank,{'open_now': False},"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJ_TQDKO4fTIYRBfW5M5JdpjU,"{'compound_code': 'W766+RH Dallas, Texas', 'gl...",3.1,ChIJ_TQDKO4fTIYRBfW5M5JdpjU,GOOGLE,"[bank, finance, point_of_interest, establishment]",9,"9330 Lyndon B Johnson Fwy Suite 150, Dallas"
6,"{'location': {'lat': 32.9098861, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,fcf556908fa5b3239bca2e17fb0f7981c5366921,Prosperity Bank,{'open_now': False},"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJ88oacJEgTIYR98TU8p3Rzzw,"{'compound_code': 'W55V+XG Dallas, Texas', 'gl...",3.0,ChIJ88oacJEgTIYR98TU8p3Rzzw,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",5,"5919 Forest Ln, Dallas"
7,"{'location': {'lat': 32.8661145, 'lng': -96.78...",https://maps.gstatic.com/mapfiles/place_api/ic...,589a5cec8fb785732d4dbdcf8c9969c2c29890fb,Amegy Bank,{'open_now': False},"[{'height': 3328, 'html_attributions': ['<a hr...",ChIJsw_DQCaZToYR-TznS1iaDXY,"{'compound_code': 'V686+CR Dallas, Texas', 'gl...",5.0,ChIJsw_DQCaZToYR-TznS1iaDXY,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",1,"6823 W Northwest Hwy, Dallas"
8,"{'location': {'lat': 32.926115, 'lng': -96.768...",https://maps.gstatic.com/mapfiles/place_api/ic...,795d96d9ca42ec94d7ce8048fdf12a264452041b,Wells Fargo Bank,{'open_now': False},"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJ5-YI-zggTIYRg488B8hES-c,"{'compound_code': 'W6GJ+CG Dallas, Texas', 'gl...",4.1,ChIJ5-YI-zggTIYRg488B8hES-c,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",28,"13050 Coit Rd, Dallas"
9,"{'location': {'lat': 32.9113881, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,4588f2040549f6e571f4e0c6b7a2a3080e735506,BBVA Bank,{'open_now': False},"[{'height': 289, 'html_attributions': ['<a hre...",ChIJw5I1L20gTIYRjGxOcqHyjj0,"{'compound_code': 'W66G+HJ Dallas, Texas', 'gl...",2.3,ChIJw5I1L20gTIYRjGxOcqHyjj0,GOOGLE,"[bank, finance, point_of_interest, establishment]",3,"7777 Forest Ln, Dallas"
10,"{'location': {'lat': 32.9090198, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,ada50dfca921e73d317d63f3be7e8c3b9aadcf24,Wells Fargo Bank,{'open_now': False},"[{'height': 987, 'html_attributions': ['<a hre...",ChIJkciexJEgTIYRfqHeUqsM8eA,"{'compound_code': 'W55W+JH Dallas, Texas', 'gl...",3.5,ChIJkciexJEgTIYRfqHeUqsM8eA,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",13,"11730 Preston Rd, Dallas"
11,"{'location': {'lat': 32.8619332, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,2947903869724e193b4067611e23116cef1dd0f1,Independent Bank,{'open_now': False},"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJW-xLkUSeToYRdLRTUBBe4UY,"{'compound_code': 'V56V+Q3 Dallas, Texas', 'gl...",5.0,ChIJW-xLkUSeToYRdLRTUBBe4UY,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",2,"6044 Sherry Ln, Dallas"
12,"{'location': {'lat': 32.893908, 'lng': -96.804...",https://maps.gstatic.com/mapfiles/place_api/ic...,51d8222efe5ebc5c6bcc6bfb4dacb826de7c302a,Chase Bank,{'open_now': False},"[{'height': 1266, 'html_attributions': ['<a hr...",ChIJaxTaQZ0gTIYRJI31kKfIu9M,"{'compound_code': 'V5VW+H5 Dallas, Texas', 'gl...",4.0,ChIJaxTaQZ0gTIYRJI31kKfIu9M,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",4,"10729 Preston Rd, Dallas"
13,"{'location': {'lat': 32.8652609, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,88a725e0d254bfd1a0e45985183cbcf9142f114c,Wells Fargo Bank,{'open_now': False},"[{'height': 608, 'html_attributions': ['<a hre...",ChIJn_P7IkSeToYRFyoDl0tkfHA,"{'compound_code': 'V58V+47 Dallas, Texas', 'gl...",4.3,ChIJn_P7IkSeToYRFyoDl0tkfHA,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",10,"5938 W Northwest Hwy, Dallas"
14,"{'location': {'lat': 32.8929965, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,0673b4dfd5ed3bdd3e5026bb8185b3669dec570b,Veritex Community Bank,{'open_now': False},"[{'height': 443, 'html_attributions': ['<a hre...",ChIJUwwh7SeeToYR2LKrQIaIsoQ,"{'compound_code': 'V5VW+55 Dallas, Texas', 'gl...",0.0,ChIJUwwh7SeeToYR2LKrQIaIsoQ,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",0,"10703 Preston Rd, Dallas"
15,"{'location': {'lat': 32.8628051, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,730cc5ff1a0811ae56db43d96fd70e24243a2706,First United Bank,{'open_now': False},"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJh4rpDkWeToYRiKydkCq6fu4,"{'compound_code': 'V57W+45 Dallas, Texas', 'gl...",3.0,ChIJh4rpDkWeToYRiKydkCq6fu4,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",5,"8201 Preston Rd #265, Dallas"
16,"{'location': {'lat': 32.8639407, 'lng': -96.80...",https://maps.gstatic.com/mapfiles/place_api/ic...,00a9c5352592555818d446fea858da314b813863,BBVA Bank,{'open_now': False},"[{'height': 289, 'html_attributions': ['<a hre...",ChIJjbA5j0OeToYR76Z3Pb8I-to,"{'compound_code': 'V57R+HF Dallas, Texas', 'gl...",4.2,ChIJjbA5j0OeToYR76Z3Pb8I-to,GOOGLE,"[bank, finance, point_of_interest, establishment]",5,"8303 Douglas Ave, Dallas"
17,"{'location': {'lat': 32.8707139, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,1010653fe30c8a35ce6cb3036698954a1e28ee8e,Comerica Bank,{'open_now': False},"[{'height': 1836, 'html_attributions': ['<a hr...",ChIJ3dX91SagToYR_35BbLTw6l0,"{'compound_code': 'V6CF+7M Dallas, Texas', 'gl...",1.8,ChIJ3dX91SagToYR_35BbLTw6l0,GOOGLE,"[bank, finance, point_of_interest, establishment]",5,"8850 Boedeker St, Dallas"
18,"{'location': {'lat': 32.860412, 'lng': -96.769...",https://maps.gstatic.com/mapfiles/place_api/ic...,c380303990bb0efd817804c5a88aa11a7e2ffe67,BBVA Bank,{'open_now': False},"[{'height': 3840, 'html_attributions': ['<a hr...",ChIJUY8WapifToYRxGBz89BcPrk,"{'compound_code': 'V66J+58 Dallas, Texas', 'gl...",3.5,ChIJUY8WapifToYRxGBz89BcPrk,GOOGLE,"[bank, finance, point_of_interest, establishment]",11,"8080 N Central Expy Suite 180, Dallas"
19,"{'location': {'lat': 32.9090851, 'lng': -96.81...",https://maps.gstatic.com/mapfiles/place_api/ic...,3b8bd47d0dacfd95bfd758764991f278e277145e,Comerica Bank,{'open_now': False},"[{'height': 2696, 'html_attributions': ['<a hr...",ChIJ1xCzGrwgTIYRomnSobfkRwo,"{'compound_code': 'W55J+JR Dallas, Texas', 'gl...",2.0,ChIJ1xCzGrwgTIYRomnSobfkRwo,GOOGLE,"[bank, finance, point_of_interest, establishment]",6,"5200 Forest Ln, Dallas"